
{# The all the kwargs passed into an endpoint (and variants thereof)) #}
{% macro arguments(endpoint) %}
{# path parameters #}
{% for parameter in endpoint.path_parameters %}
{{ parameter.to_string() }},
{% endfor %}
{% if endpoint.binary_body %}
{# JSON body if any #}
binary_body: {{ endpoint.binary_body.get_type_string() }},
{% elif endpoint.json_body %}
{# JSON body if any #}
json_body: {{ endpoint.json_body.get_type_string() }},
{% elif endpoint.form_body_class %}
{# Form data if any #}
form_data: {{ endpoint.form_body_class.name }},
{% elif endpoint.multipart_body_class %}
{# Multipart data if any #}
multipart_data: {{ endpoint.multipart_body_class.name }},
{% endif %}
{# query parameters #}
{% for parameter in endpoint.query_parameters %}
{{ parameter.to_string() }},
{% endfor %}
{% for parameter in endpoint.header_parameters %}
{{ parameter.to_string() }},
{% endfor %}
{# cookie parameters #}
{% for parameter in endpoint.cookie_parameters %}
{{ parameter.to_string() }},
{% endfor %}
{% endmacro %}


{# Just lists all kwargs to endpoints as name=name for passing to other functions #}
{% macro kwargs(endpoint) %}
client=self.client,
{% for parameter in endpoint.path_parameters %}
{{ parameter.python_name }}={{ parameter.python_name }},
{% endfor %}
{% if endpoint.json_body %}
json_body=json_body,
{% elif endpoint.form_body_class %}
form_data=form_data,
{% elif endpoint.multipart_body_class %}
multipart_data=multipart_data,
{% endif %}
{% for parameter in endpoint.query_parameters %}
{{ parameter.python_name }}={{ parameter.python_name }},
{% endfor %}
{% for parameter in endpoint.header_parameters %}
{{ parameter.python_name }}={{ parameter.python_name }},
{% endfor %}
{% for parameter in endpoint.cookie_parameters %}
{{ parameter.python_name }}={{ parameter.python_name }},
{% endfor %}
{% endmacro %}
